COMFY_ENABLED=true
COMFY_BASE_URL=http://127.0.0.1:8188
COMFY_CHECKPOINT=v1-5-pruned-emaonly-fp16.safetensors
COMFY_OUTPUT_DIR=./assets_generated/page-images
COMFY_PUBLIC_BASE_URL=/assets_generated/page-images
COMFY_POLL_INTERVAL_MS=2500
COMFY_MAX_WAIT_MS=180000
COMFY_WORKFLOW_HERO=./comfy-workflows/hero_local_service_v1.json
COMFY_WORKFLOW_EDITORIAL=./comfy-workflows/editorial_support_v1.json
